/* navbar */

.login-button {
    background-color: #009970;
    color: #fff;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
}


.login-button:hover {
    background-color: #00b383;
}

.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus,
.btn-close:focus {
    box-shadow: none;
    outline: none;
}


.nav-link {
    color: #fafafa;
    font-weight: 500;
    position: relative;
    margin-left: 30px;
}

.nav-link.active {
    color: #fdfdfd;
    font-weight: 600;
}

.nav-link:hover {
    color: #fff;
    font-weight: 700;
    transition: 0.3s;
}

@media (min-width: 991px) {
    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: #009970;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }

    .nav-link:hover::before,
    .nav-link.active::before {
        width: 100%;
        visibility: visible;
    }
}

.nav-link.active {
    color: #fff !important;  /* Certifica-se de que a cor preta seja aplicada */
    font-weight: bold;
}

/*
mudar para preto ícone

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
*/


.offcanvas.show a{
    color: #fff; /* Altere esta cor para a cor desejada */
}


/* fim navbar  */

.content {
    margin-top: 80px;
}


body {
    color: #333;
    /* Cor do texto padrão */
    /* Cor de fundo padrão */
=======
--cor-primaria: #000000; /* Cor principal */
    --cor-secundaria: #31363F; /* Cor secundária */
    --cor-terciaria: #76ABAE ; /* Cor terciária */
    --cor--hover: #EEEEEE; /* Cor de destaque ao passar o mouse */
    background-color: #212529;
}


.cabecalho {
    font-size: x-large;
    font-weight: 600;
    color: var(--cor-secundaria);
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.formulario {
    font-family: var(--fonte-primaria);
    font-size: x-large;
    font-weight: 600;
    color: var(--cor-secundaria);
    position: absolute;
    top: 15%;
    left: 5%;
    transform: translate(15%, 5%);
}

.formulario__grupo {
    color: var(--cor-secundaria);
    display: flex;
    align-items: center;
    font-weight: 900;
}

.formulario__grupo__rotulo {
    text-transform: uppercase;
    font-size: large;
    padding: 6px;
}

.formulario__grupo__caixa {
    width: 50%;
    /* Largura total */
    padding: 10px;
    /* Espaçamento interno */
    border: 1px solid #ccc;
    /* Borda sólida com cor cinza */
    border-radius: 5px;
    /* Cantos arredondados */
    font-size: 16px;
    /* Tamanho da fonte */
    color: #333;
    /* Cor do texto */
    outline: none;
    /* Remove o contorno ao focar */
    transition: border-color 0.3s;
    /* Transição suave da cor da borda */
    /* Ajuste da altura */
    height: 2px;
    /* Altura desejada */
}


.formulario__grupo__botao {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
}

.mb-3 {
    width: 300px;
    transform: translateX(15px);
}

.table {
    margin-top: 50px;
}

.btn-primary {
    margin-top: 50px;
}