@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');
:root {
    --cor-primaria: #000000; /* Cor principal */
    --cor-secundaria: #31363F; /* Cor secundária */
    --cor-terciaria: #76ABAE ; /* Cor terciária */
    --fonte-primaria: 'Montserrat', sans-serif; /* Fonte principal */
    --cor--hover: #EEEEEE; /* Cor de destaque ao passar o mouse */
}


html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    font-family: var(--fonte-primaria); /* Utiliza a fonte definida em :root */
    color: #333; /* Cor do texto padrão */
    /* Cor de fundo padrão */
}

.cabecalho {
    font-family: var(--fonte-primaria);
    font-size: x-large;
    font-weight: 600;
    color:var(--cor-secundaria);
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.formulario {
    font-family: var(--fonte-primaria);
    font-size: x-large;
    font-weight: 600;
    color:var(--cor-secundaria);
    position: absolute;
    top: 15%;
    left: 5%;
    transform: translate(15%, 5%);
}
.formulario__grupo {
    color: var(--cor-secundaria);
    display: flex;
    align-items: center;
    font-weight: 900 ;
}

.formulario__grupo__rotulo {
    text-transform: uppercase;
    font-size: large;
    padding: 6px;
}
.formulario__grupo__caixa {
    width: 50%; /* Largura total */
    padding: 10px; /* Espaçamento interno */
    border: 1px solid #ccc; /* Borda sólida com cor cinza */
    border-radius: 5px; /* Cantos arredondados */
    font-size: 16px; /* Tamanho da fonte */
    color: #333; /* Cor do texto */
    outline: none; /* Remove o contorno ao focar */
    transition: border-color 0.3s; /* Transição suave da cor da borda */
    /* Ajuste da altura */
    height: 2px; /* Altura desejada */
}


.formulario__grupo__botao {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
}

.mb-3 {
   width: 300px;
    transform: translateX(15px);
}

.table {
    margin-top: 50px;
}

.btn-primary {
    margin-top: 50px;
}