/* navbar */
.login-button {
    background-color: #009970;
    color: #fff;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
}

.login-button:hover {
    background-color: #00b383;
}

.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus,
.btn-close:focus {
    box-shadow: none;
    outline: none;
}

.nav-link {
    color: #fafafa;
    font-weight: 500;
    position: relative;
    margin-left: 30px;
}

.nav-link.active {
    color: #fdfdfd;
    font-weight: 600;
}

.nav-link:hover {
    color: #fff;
    font-weight: 700;
    transition: 0.3s;
}

@media (min-width: 991px) {
    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: #009970;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }

    .nav-link:hover::before,
    .nav-link.active::before {
        width: 100%;
        visibility: visible;
    }
}

.nav-link.active {
    color: #fff !important;  /* Certifica-se de que a cor preta seja aplicada */
    font-weight: bold;
}

/*
mudar para preto ícone
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
*/

.offcanvas.show a{
    color: #fff; /* Altere esta cor para a cor desejada */
}

/* fim navbar */
.texto-escrito p {
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: #ffffff;
    /* Adicione estilos adicionais se necessário */
}

body {
    font-family: sans-serif;
    padding: 0;
    background: #212529; /* Cor de fundo da página */
    margin-top: 150px;
}

.container {
    max-width: 800px;
    padding: 20px;
}

.chat-input-container {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 800px;
    display: flex;
    justify-content: center;
}

.chat-input {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    border: 1px solid #212529;
    border-radius: 5px;
    padding-right: 40px; /* espaço para o botão */
    background-color: #343a40; /* Cor de fundo da caixa de entrada de dados */
}

#userInput {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: #343a40; /* Cor de fundo consistente */
    color: #ffffff; /* Cor do texto */
}

.send-button {
    position: absolute;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
}

.send-button img {
    width: 30px;
    height: 30px;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

/* Adicionando estilo ao texto digitado */
.typing-text {
    white-space: nowrap; /* Evita quebra de linha */
    overflow: hidden; /* Esconde o texto que não está sendo mostrado */
    font-size: 20px;
    color: white;
    animation: typing 1.5s steps(25, end); /* A animação 'typing' dura 2 segundos */
}


:root {
    --cor-primaria: #000000;
    /* Cor principal */
    --cor-secundaria: #31363F;
    /* Cor secundária */
    --cor-terciaria: #76ABAE;
    /* Cor terciária */
    --fonte-primaria: 'Montserrat', sans-serif;
    /* Fonte principal */
    --cor--hover: #EEEEEE;
    /* Cor de destaque ao passar o mouse */

    /* footer */
    --color-neutral-0: #0e0c0c;
    --color-neutral-10: #171717;
    --color-neutral-30: #a8a29e;
    --color-neutral-40: #f5f5f5;
}

.content {
    min-height: 100vh;
}


/* footer */

footer {
    width: 100%;
    color: var(--color-neutral-40);
}

.footer-link {
    text-decoration: none;
}

#footer_content {
    background-color: var(--color-neutral-10);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;
}

#footer_contacts h1 {
    margin-bottom: 0.75rem;
}

#footer_social_media {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

#footer_social_media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-neutral-40);
    border-radius: 50%;
    transition: all 0.4s;
}

#footer_social_media .footer-link i {
    font-size: 1.25rem;
}

#footer_social_media .footer-link:hover {
    opacity: 0.8;
}

#instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#github {
    background-color: #4267b3;
}

#whatsapp {
    background-color: #25d366;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

.footer-list .footer-link {
    color: var(--color-neutral-30);
    transition: all 0.4s;
}

.footer-list .footer-link:hover {
    color: #7f37c9;
}

#footer_subscribe {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#footer_subscribe p {
    color: var(--color-neutral-30);
}

#input_group {
    display: flex;
    align-items: center;
    background-color: var(--color-neutral-0);
    border-radius: 4px;
}

#input_group input {
    all: unset;
    padding: 0.75rem;
    width: 100%;
}

#input_group button {
    background-color: #7f37c9;
    border: none;
    color: var(--color-neutral-40);
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.4s;
}

#input_group button:hover {
    opacity: 0.8;
}

#footer_copyright {
    display: flex;
    justify-content: center;
    background-color: var(--color-neutral-0);
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
}

@media screen and (max-width: 768px) {
    #footer_content {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media screen and (max-width: 426px) {
    #footer_content {
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
    }
}