*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgba(0, 0, 0, 0.828);
}

/*a caixa que pega todos os itens*/
.container-principal{
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

/* ajusta os itens*/
.container{
    background-color: white;
    padding: 10px;
    height: 250px;
    width: 400px;;
    text-align: center;
    box-shadow: 2px 2px 2px 1px rgba(248, 248, 248, 0.703);
}

/* o cabeçalho*/
.titulo {
    background-color: #76ABAE ; /* Cor terciária */;
    color: white;
    padding: 5px;
}

.X{
    color: #76ABAE;
    width: 30px;
    padding: 8px;
    border-radius: 50px;
    background-color: white;
    margin-left: 45%;
}

/*frase da pagina*/
.frase{
    margin-top: 40px;
    color: rgba(0, 0, 0, 0.882);
    font-size: 19px;
}

/*botao*/
.link{
    display: block;
    text-align: center;
}

button {
    color: #76ABAE;
    font-size: 15px;
    padding: 10px 3%; /* Combined padding and padding-left/right */
    border: 1px solid #76ABAE;
    cursor: pointer;
    margin-top: 8%;
}

button:hover{
    background-color: #76ABAE;
    color: white;
}




