/* navbar */

.login-button {
    background-color: #009970;
    color: #fff;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
}


.login-button:hover {
    background-color: #00b383;
}

.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus,
.btn-close:focus {
    box-shadow: none;
    outline: none;
}


.nav-link {
    color: #666777;
    font-weight: 500;
    position: relative;
    margin-left: 30px;
}

.nav-link.active {
    color: #000;
    font-weight: bold;
}

.nav-link:hover {
    color: #000;
    font-weight: bold;
    transition: 0.3s;
}

@media (min-width: 991px) {

    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: #009970;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }

    .nav-link:hover::before,
    .nav-link.active::before {
        width: 100%;
        visibility: visible;
    }

}

/* fim navbar  */



:root {
    --cor-primaria: #000000;
    /* Cor principal */
    --cor-secundaria: #31363F;
    /* Cor secundária */
    --cor-terciaria: #76ABAE;
    /* Cor terciária */
    --fonte-primaria: 'Montserrat', sans-serif;
    /* Fonte principal */
    --cor--hover: #EEEEEE;
    /* Cor de destaque ao passar o mouse */
}

* {
    margin: 0;
    padding: 0;

}


.user_name {
    display: flex;
    flex-direction: column;
    align-items: center;

}



.rodape__nome {
    padding: 20px;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: var(--fonte-primaria);
    font-size: 1.5rem;
    font-weight: 400;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
}