:root {
    --cor-primaria: #000000;
    --cor-secundaria: #31363F;
    --cor-terciaria: #76ABAE;
    --fonte-primaria: 'Montserrat', sans-serif;
    --cor-fonte: #EEEEEE;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--fonte-primaria);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--cor-secundaria);
}

.container {
    width: 100%;
    max-width: 1200px;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.login-container {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.left-side {
    background-color: var(--cor-terciaria);
    color: white;
    padding: 40px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.slogan__texto {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
}

.slogan__texto {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
}

.right-side {
    background-color: var(--cor-secundaria);
    color: var(--cor-fonte);
    padding: 40px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.titulo {
    margin-bottom: 20px;
    font-size: 2.5rem;
    font-weight: bolder;
    text-transform: uppercase;
}

.logo {
    max-width: 100%;
    height: auto;
    margin-bottom: -20px;
}

.rocket {

    background-size: contain;
    width: 100%;
    height: 200px;
}

.login__form {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login__form h1 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
}

.form-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
}

.form-text {
    margin-bottom: 20px;
    color: var(--cor-fonte);
}

.login_btn {
    width: 100%;
    padding: 10px;
    background: var(--cor-terciaria);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    color: white;
    transition: background-color 0.3s ease-in-out;
}

.login_btn:hover {
    background: var(--cor-secundaria);
}

.login_register_link {
    text-align: center;
    margin-top: 20px;
}

.login_register_link p a {
    color: var(--cor-fonte);
    text-decoration: none;
    font-weight: bold;
}

.login_register_link p a:hover {
    text-decoration: underline;
}


