<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <title>Diario</title>
    <link rel="stylesheet" href="/Diario.css">
</head>

<body>
<h1 class="cabecalho">DIARIO</h1>



<table class="table">
    <thead>
    <tr>
        <th scope="col">Codigo do Evento</th>
        <th scope="col">Data </th>
        <th scope="col">Detalhes </th>
        <th scope="col">Debito</th>
        <th scope="col">Credito</th>
        <th scope="col">Valor</th>
    </tr>
    </thead>
    <tbody class="table-group-divider">

    <tr th:each="Diario: ${LivroDiario}"> <!-- PARA CADA FATO EM FATOS -->
        <td th:text="${Diario.getCodFato()}"> </td>
        <td th:text="${Diario.getData()}"> </td>
        <td th:text="${Diario.getDetalhes()}"> </td>
        <td th:text="${Diario.getDebito()}"> </td>
        <td th:text="${Diario.getCredito()}"> </td>
        <td th:text="${Diario.getValor()}"> </td>

    </tr>



    </tbody>
</table>



<a class="btn btn-primary" type="submit" href="/DadosDiario">Imprimir Diario</a>
</body>

</html>
