<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MaestroContabilidade</title>
    <link rel="stylesheet" href="styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
<!-- Container de login -->
<div class="container">
    <div class="login-container">
        <!-- Lado esquerdo -->
        <div class="left-side">
            <h1 class="titulo">Maestro Contabilidade</h1>
            <img src="logo.png" alt="Logo" class="logo">
            <p>Controle com maestria</p>
            <div class="rocket"></div>
        </div>
        <!-- Lado direito -->
        <div class="right-side">
            <div class="login__form">
                <h1>Login</h1>
                <form action="/login" method="post">
                    <div class="login_cpf">
                        <label for="cpf" class="form-label">CPF</label>
                        <input type="text" class="form-control" id="cpf" name="CPF" placeholder="Digite seu CPF" required="required">
                        <div id="cpfHelp" class="form-text">Insira seu CPF sem pontos e traços, apenas números.</div>
                    </div>
                    <div class="login_password">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" name="Password" placeholder="Digite sua senha" required="required">
                    </div>
                    <div class="login_password">
                        <label for="password" class="form-label">Nome reduzido da empresa</label>
                        <input type="text" class="form-control" id="NomeReduzidoEmpresa" name="NomeReduzidoEmpresa" placeholder="Digite o nome reduzido da empresa" required="required">
                    </div>
                    <div class="login_register_link">
                        <p>Novo(a) por aqui? <a href="/Cadastro">Registre-se</a></p>
                    </div>
                    <button type="submit" class="login_btn">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Rodapé -->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
<script>
    function limparCPF() {
        // Obtém o valor do CPF do elemento com o ID 'exampleInputEmail1'
        var cpfInput = document.getElementById('cpf');
        var cpf = cpfInput.value;

        // Remove todos os caracteres que não sejam números
        cpf = cpf.replace(/\D/g, '');

        // Atualiza o valor do input com o CPF limpo
        cpfInput.value = cpf;
    }
</script>
</html>
