<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <title>Livro Razonete</title>
    <link rel="stylesheet" href="/Razonete.css">
</head>
<body>
<form method="get" action="/RetornarRazao">
<div class="mb-3">
    <label for="ElementoRazonete" class="form-label">Digite o que deseja extrair do Razão</label>
    <input type="text" class="form-control" id="ElementoRazonete" required="required" name="ElementoRazonete" onclick="NaoPermitirEspaco()">
</div>

    <button class="btn btn-primary" type="submit">Imprimir Razonete</button>
</form>


<header>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg fixed-top" style="background-color: #212529;">
        <div class="container-fluid">
            <img src="../assets/contabilidade.png" alt="" style="width: 50px; margin-left: 20px;">
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Contabilidade</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-center flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/homePage">Home</a>
                        </li>
                        <li class="nav-item" onclick="definirVisibilidadeLinks()">
                            <a class="nav-link" href="/Fatos">Fatos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Diario">Diario</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/Razonete">Razonete</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Balancete">Balancete</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Codigos">IA</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/ARE">Apuração do resultado</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="BaixarDoc"> Documentação </a>
                        </li>



                    </ul>
                </div>
            </div>
            <a class="login-button" th:text="${NivelDeAcesso}"> </a>
            <a class="login-button" th:text="${Pedido}"> </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>
    <!-- fim da navbar -->

</header>
<table class="table table-bordered border-primary">
    <thead>
    <tr>
        <th scope="col">Elementos</th>
        <th scope="col">Credito</th>
        <th scope="col">Debito</th>
        <th scope="col">Saldo</th>

    </tr>
    </thead>



    <tr th:each="Razonete : ${DadosRazonete}">
        <th th:text="${Razonete.getElementoFato()}"> </th>
        <td th:text="${Razonete.getValorCredito()}"></td>
        <td th:text="${Razonete.getValorDebito()}"></td>
        <td th:text="${Razonete.getSaldo()}"></td>


    </tr>





</table>




<script>
    // Função para definir a visibilidade dos links com base no nível de acesso do usuário
    function definirVisibilidadeLinks() {
        var links = document.querySelectorAll(".btn-primary");
        console.log(links); // Verifica se os botões estão sendo selecionados corretamente

        links.forEach(function(link) {
            var href = link.getAttribute('href');
            var nivelUsuario = link.getAttribute('data-nivel');
            console.log("Href:", href, "Nível do usuário:", nivelUsuario); // Verifica os valores de href e nivelUsuario

            if (nivelUsuario === "N3" || nivelUsuario === "adm" || nivelUsuario == "N2") {
                // Mostrar o botão Permitir para usuários N3 e admin e ocultar o botão Conferir
                if (href === '/Permitir') {
                    link.style.display = 'block';
                } else if (href === '/Conferir') {
                    link.style.display = 'none';
                }
            }
        });
    }

    // Chame a função para definir a visibilidade dos links quando a página carregar
    document.addEventListener('DOMContentLoaded', function() {
        definirVisibilidadeLinks();
    });
</script>

<script>
    // Selecione o campo de entrada pelo ID
    var input = document.getElementById("ElementoRazonete");

    // Adicione um ouvinte de evento para o evento de entrada
    input.addEventListener("input", function() {
        // Substitua os espaços em branco por uma string vazia
        this.value = this.value.replace(/\s/g, "");
    });

</script>


</body>
</html>